@model FinancasApp.Presentation.Models.Transaction.TransactionConsult

<div class="mb-3">
    <h4>
        Buscar Contas
    </h4>
    <p>Busque suas contas inserindo a data de início e fim para encontrar contas nesse período.</p>
</div>

@using (Html.BeginForm())
{
    <div class="row mb-2">
        <div class="col-md-3">
            @Html.TextBoxFor(x => x.InitialDate, "{0:yyyy-MM-dd}",new { @class = "form-control mb-4", @type = "date"})

            <span class="text-danger">
                @Html.ValidationMessageFor(x => x.InitialDate)
            </span>
        </div>

        <div class="col-md-3">
            @Html.TextBoxFor(x => x.FinalDate,"{0:yyyy-MM-dd}", new { @class = "form-control mb-4", @type = "date" })

            <span class="text-danger">
                @Html.ValidationMessageFor(x => x.FinalDate)
            </span>
        </div>

        <div class="col-md-6">
            <input type="submit" class="btn btn-success" value="Pesquisar" />
        </div>
    </div>
}

@if(Model != null && Model.ResultConsults.Count > 0)
{
    <div class="table-responsive">
        <table id="consultTransaction" class="table table-sm table-hover table-striped">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th>Categoria</th>
                    <th>Tipo</th>
                    <th width="140">Ações</th>
                </tr>
            </thead>
            <tbody>

                @foreach(var item in Model.ResultConsults)
                {
                    <tr>
                        <td>@item.Data.Value.ToString("dd/MM/yyyy")</td>
                        <td>@item.Name</td>
                        <td>@(decimal.Parse(item.Value).ToString("c"))</td>
                        <td>@item.Category</td>
                        <td>@item.Type</td>
                        <td>
                            <a class="btn btn-outline-primary btn-sm" href="/Transacton/Edit?idTransaction=@item.Id">Editar</a>
                            <a class="btn btn-outline-danger btn-sm" href="/Transacton/Delete?idTransaction=@item.Id" onclick="return confirm('Deseja realmente excluir esta conta?')">Excluir</a>
                        </td>
                    </tr>
                }
                

            </tbody>
        </table>

    </div>
}


@section styles {
    <link href="//cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css" rel="stylesheet">

}

@section scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="//cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>

    <script>

        $(document).ready(function () {
            $("#consultTransaction").DataTable({
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json"
                }
            });

        });
    </script>
}